.mt-24 {
    margin-top: pxToRem(24);
  }
  .mt-28 {
    margin-top: pxToRem(28.5);
  }
  .mt-32 {
    margin-top: pxToRem(32);
  }
  
  .mt-41 {
    margin-top: pxToRem(32);
  }
  .flex-1 {
      flex: 1;
  }
  .vh1 {
    height: 100% !important;
  }
  .mt-2 {
    margin-top: 2rem;
  }