.badge {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: $dark-bg-txt;
  margin: 0px 8px;
  padding: 7px 14px 6px 12px;
  border-radius: 50%;
  border-radius: pxToRem(24);
  &--primary {
      background-color: $light-gray1;
  }
  &--secoundary {
      background-color: $light-green;
  }
}
