.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.4375rem, 1fr));
  @media only screen and (max-width: $bp-700) {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    row-gap: pxToRem(40);
  }
  &__item:nth-child(3n + 2) {
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
  &__item:nth-child(-n + 3) {
    border-top: 1px solid $light-gray;
  }
  &__item {
    display: flex;
    flex-direction: column;

    .mobile-badge {
      display: none;

      @media only screen and (max-width: $bp-520) {
        margin-top: 1rem;
      }
    }

    @media only screen and (max-width: $bp-700) {
      &:not(:first-child){
        border: none !important;
      }
      
    }

    @media only screen and (max-width: $bp-520) {

      display: grid;
      grid-template-areas: 
      'avatar name app'
      'avatar email x'
      'avatar badge x'
      'actions actions actions';
      border: none;

      .mobile-badge {
        display: flex;
      }

      .avatar {
        align-items: flex-start;

        img {
          width: pxToRem(80);
          height: pxToRem(80);
        }
        
        grid-area: avatar;
      }

      .contact {
        grid-area: name;
        align-items: flex-start;
      }
      .actions {
        grid-area: actions;

        @media only screen and (max-width: $bp-520) {
          margin-top: pxToRem(40);
        }
      }

      .call-action {
        
        .call {
          
          grid-area: app;
          
        }
        .badge {
          display: none;
          
        }
      }
    }

    

    .avatar,
    .contact,
    .actions {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .contact {
      flex-direction: column;
      row-gap: pxToRem(8);
      .full-name {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
      .email {
        font-size: 13px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.01em;
        color: #6a6d7a;
      }
    }
    .hide {
      display: none;
    }
    .show {
      display: inherit;
    }
    .call-action {
      display: flex;
      justify-content: space-between;
      padding: 0 pxToRem(24);

      @media only screen and (max-width: $bp-520) {
        padding: 0;
        justify-content: flex-end;
      }
      
      // .call {
      //   margin: 0px 8px;
      // }
    }
  }
}
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  .star {
    cursor: pointer;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    width: 20px;
    height: 20px;
  }
  .enabled {
    background: #ffc600;
  }
  .disabled {
    background: #c1c8ce;
  }
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  &--red {
    font-style: normal;
    font-weight: normal;
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    color: #ff4858;
  }
  &--original {
    font-weight: bold;
    font-size: pxToRem(18);
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40bfff;
  }
  &--old {
    font-weight: normal;
    font-size: pxToRem(14);
    line-height: 150%;
    letter-spacing: 0.5px;
    text-decoration-line: line-through;
    color: #9098b1;
  }
  &--discound {
    font-weight: bold;
    font-size: pxToRem(14);
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fb7181;
  }
}
