.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  @media only screen and (max-width: $bp-700) {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
  &__item:nth-child(3n + 2) {
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    @media only screen and (max-width: $bp-700) {
      border: none;
    }
  }
  &__item:nth-child(-n + 3) {
    border-top: 1px solid $light-gray;
  }
  &__item {
    display: flex;
    flex-direction: column;
    .avatar,
    .contact,
    .actions {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .contact {
      flex-direction: column;
      row-gap: pxToRem(8);
      .full-name {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
      .email {
        font-size: 13px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.01em;
        color: #6a6d7a;
      }
    }
    .hide {
      display: none;
    }
    .show {
      display: inherit;
    }
    .call-action {
      display: flex;
      justify-content: space-between;
      .call {
        margin: 0px 8px;
      }
    }
  }
}
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  .star {
    cursor: pointer;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    width: 20px;
    height: 20px;
  }
  .enabled {
    background: #ffc600;
  }
  .disabled {
    background: #c1c8ce;
  }
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  &--red {
    font-style: normal;
    font-weight: normal;
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    color: #ff4858;
  }
  &--original {
    font-weight: bold;
    font-size: pxToRem(18);
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40bfff;
  }
  &--old {
    font-weight: normal;
    font-size: pxToRem(14);
    line-height: 150%;
    letter-spacing: 0.5px;
    text-decoration-line: line-through;
    color: #9098b1;
  }
  &--discound {
    font-weight: bold;
    font-size: pxToRem(14);
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #fb7181;
  }
}
