$dark-bg-txt: #1A1A1C;
$light-text: #FFFFFF;
$grey-text: #a3a3a3;
$green-price: #77E477;
$red-color: #FC5D5B;
$heavy-grey: #6A6D7A;
$light-gray: #C3C5CA;
$light-gray1: #D7D4DF;
$light-green: #CDDCE1;
$light-gray2: #E9E8EB;
$light-gray3: #F6F6F7;
;


$default-font-family:'Inter', sans-serif;;

$bg-large-1: 85.375rem;
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 51.25em; // 900px
$bp-700: 43.75em; // 700px
$bp-small: 40.625em; // 600px
$bp-smallest: 31.25em; // 500px
$bp-486: 30.375em;